{% extends "base.html" %} {% block code%} 


<section id="hero" class="hero d-flex align-items-center">
  
<div class='about'>
        <h2 data-aos="fade-up">ABOUT</h2>
  <h1 style="color: white;">Triaging Hospital Admission System</h1>
  <b><p style="color:white;">Emergency department (ED) overcrowding has been described as “the biggest impediment to the delivery of timely and adequate emergency care” worldwide [1]. It necessitates urgent attention in developed nations as rapidly aging populations increase ED utilization [2]. The strain overcrowding places on ED resources impairs access to care in the form ambulance diversion, longer times to treatment, and increased probability of patients leaving without being seen [3,4]. It also compromises quality of care. Beyond the ED doors, ED overcrowding is associated with increased inpatient mortality, length of stay, and cost for admitted patients [5]. It also has an emotional impact on patients and staff. Patient dissatisfaction also increases with prolonged wait times [6]. In turn staff morale, physician productivity, and teaching time at academic medical centers decline with increased patient volumes .</p>
  </b>
</div>
</section>
    
<!-- End Hero Section -->
{% endblock %}
