{%extends 'base2.html'%} {% block code %}
<!-- ======= Hero Section ======= -->
<style>
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 20%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color:white; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  </style>
  <style>
    .accordion1 {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 20px;
      width: 20%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }
    
    .active, .accordion1:hover {
      background-color: white; 
    }
    
    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
    </style>

  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <h2 data-aos="fade-up">CHECK THE BED AVAILABILITY</h2>
        <blockquote data-aos="fade-up" data-aos-delay="100">
            <h1></h1>

    </div>
  </div>
  <button class="accordion" style="width: 50px;">bed 1</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 2</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 3</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 4</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 5</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 6</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 7</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 8</button>
  
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 9</button>
  
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion1" style="width: 50px;">bed 10</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 11</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 12</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 13</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 14</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 15</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 16</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 17</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 18</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 19</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 20</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 21</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 22</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 23</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 24</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 25</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 26</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 27</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 28</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
  <button class="accordion" style="width: 50px;">bed 29</button>
  <div class="panel" style="background-color:  red ; " >
    <p></p>
  </div>
<button class="accordion1" style="width: 50px;">bed 30</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 31</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 32</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 33</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 34</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 35</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 36</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 37</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 38</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 39</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 40</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 41</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 42</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 43</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 44</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 45</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 46</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 47</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 48</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 49</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion1" style="width: 50px;">bed 50</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 51</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 52</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 53</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 54</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 55</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 56</button>



<button class="accordion" style="width: 50px;">bed 57</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 58</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 59</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 60</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 61</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 62</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 63</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 64</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 65</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 66</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 67</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 68</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 69</button>
<div class="panel" style="background-color:  greenyellow ; " >
  <p></p>
</div>

<button class="accordion1" style="width: 50px;">bed 70</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 71</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 72</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 73</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 74</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 75</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 76</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 77</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 78</button>
<div class="panel" style="background-color:  red ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 80</button>
<div class="panel" style="background-color: greenyellow ; " >
  <p></p>
</div>
<button class="accordion" style="width: 50px;">bed 81</button>
<div class="panel" style="background-color: greenyellow ; " >
  <p></p>
</div>

  
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
</section>
<!-- End Hero Section -->
{% endblock %}
